/* hover interacts with user input on touch devices. here we fix it by grouping all :hover rules into @media(hover: hover)
 * https://caniuse.com/mdn-css_at-rules_media_hover
 * needs fixing with something like https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices */
@media (hover: hover) {
  input[type="checkbox"]:hover {
    border: none;
    padding: 1px;
    border-radius: 100%;
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  input[type="checkbox"]:hover::after {
    border: none;
    content: '';
    display: block;
    padding: 11px;
    border-radius: 100%;
    background: #fff;
    @apply dark:bg-dark-very-dark-desaturated-blue dark:border-gray-600
  }

  .checkbox-wrapper:hover button {
    display: unset;
  }
}

input[type="checkbox"]:checked {
  position: static;
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon-check.svg") no-repeat 6px 7px;
}

input[type="checkbox"]:checked+label {
  @apply text-gray-300 dark:text-gray-600 line-through;
}

.checkbox-wrapper:first-of-type {
  @apply rounded-t-md
}