.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  appearance: none;
  /* creating a custom design */
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-left:10px;
  margin-right:16px;

  @apply dark:bg-dark-very-dark-desaturated-blue dark:border-gray-600

}

input[type="checkbox"]:focus{
  outline: none !important;
}

input[type="checkbox"]:hover {
  border:none;
  padding: 1px;
  border-radius: 100%;
  /*background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);*/
  background: linear-gradient(135deg, hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}

input[type="checkbox"]:hover::after {
  border:none;
  content: '';
  display: block;
  padding:11px;
  border-radius: 100%;
  background: #fff;
  @apply dark:bg-dark-very-dark-desaturated-blue dark:border-gray-600
}

input[type="checkbox"]:checked {
  position: static;
  background: linear-gradient(135deg, hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background:url("../images/icon-check.svg") no-repeat 6px 7px;
}

input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  @apply text-gray-300 dark:text-gray-600;
}

.checkbox-wrapper button {
  display:none;
}

.checkbox-wrapper:hover button {
  display: unset;
}

.checkbox-wrapper:first-of-type { @apply rounded-t-md  }
