#addCircle {
  position:absolute;
  left:25px;
  top:50px;

  /*matches ToDoItem.css */
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  @apply dark:bg-dark-very-dark-desaturated-blue dark:border-gray-600
}